body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
}

a > paper-icon-item {
  color: black;
}

a > paper-item {
  color: black;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-toolbar > paper-progress {
  width: 100%;
}
