body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: var(--paper-grey-50);
}

.content-area {
  padding: 16px;
}

.mdl-layout__header > .mdl-progress {
  width: 100%;
}

a > .mdl-list__item {
  cursor: auto;
}

a {
  text-decoration: none;
}

ul.mdl-list {
  margin: 0px;
}

div.mdl-card {
  width: 100%;
  height: 100%;
}
