body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
}

a > paper-icon-item {
  color: black;
}

a > paper-item {
  color: black;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-toolbar > paper-progress {
  width: 100%;
}

iron-icon.status-unknown {
  color: var(--paper-grey-500);
}

iron-icon.status-failed {
  color: var(--error-color);
}

iron-icon.status-changed {
  color: var(--paper-green-500);
}
